<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post a Ride</title>

    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
     <link href="./main.css" rel="stylesheet">
</head>
<body>

    <div class="wrapper" >
        <h1 class="mdc-typography--headline2">RIDE DETAILS </h1>
        <div class="rides ride-list">
            

    <div class="mdc-card mdc-card--outlined rides ride-card">

            <div>Origin:{{details['Route_Origin']}}</div> 
            <div>Destination:{{details['Route_destination']}}</div>
            <div>Date:{{details['date']}} </div>
            <div>Seats Reserved:1</div>
            <div>Time:{{details['Time']}}</div>
            <div>Car Number plate:{{details['Car_Number_Plate']}}</div>
            <div>Name of Driver:{{details['Fulll_Name']}}</div>
        </div>
        

    </div>
        </div>

    </div> 
</body>
</html>