<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post a Ride</title>

    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
     <link href="./main.css" rel="stylesheet">
</head>


<body>
    <div class="wrapper">

            <form action="{{ url_for('registernew1') }}" method="post" class="mdc-card mdc-card--outlined main-form">
                <h1>Post a Ride</h1>
                <input type="text" id="driverid" name="driverid" value="{{value}}"hidden> 

                <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
                    <span class="mdc-notched-outline">
                      <span class="mdc-notched-outline__leading"></span>
                      <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input id="origin" name="origin" class="mdc-text-field__input" id="origin" type="text" placeholder="Origin" aria-label="Origin" required>
                  </label>
           
                  <br />

                  <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
                    <span class="mdc-notched-outline">
                      <span class="mdc-notched-outline__leading"></span>
                      <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input id="destination" name="destination"class="mdc-text-field__input" id="destination" type="text" placeholder="Destination" aria-label="Destination" required>
                  </label>
           
                  <br />

                  <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
                    <span class="mdc-notched-outline">
                      <span class="mdc-notched-outline__leading"></span>
                      <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input id="date" name="date"class="mdc-text-field__input" id="date" type="date" placeholder="Date" aria-label="Date" required>
                  </label>
           
                  <br />

                  <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
                    <span class="mdc-notched-outline">
                      <span class="mdc-notched-outline__leading"></span>
                      <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input id="nops" name="nops"class="mdc-text-field__input" id="passengers" type="No of Passengers" placeholder="No of Passengers" aria-label="No of Passengers" required>
                  </label>
           
                  <br />

                  <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
                    <span class="mdc-notched-outline">
                      <span class="mdc-notched-outline__leading"></span>
                      <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input id="t" name="t"class="mdc-text-field__input" id="time" type="Time for the ride" placeholder="Time for the ride" aria-label="Time for the ride" required>
                  </label>

                  <br />
                  <div class="join-button">
                    <button class="mdc-fab mdc-fab--extended" aria-label="Favorite">
                        <div class="mdc-fab__ripple"></div>
                        POST
                      </button>
                </div>

                  
                                 
            </form>
    </div>
</body>
</html>