<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rides</title>

    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
     <link href="./main.css" rel="stylesheet">

     <style>
        .ride-card {
            padding: 25px;
            margin: 20px 0px;
        }

        .join-button {
            position: fixed;
            bottom:50px;
right:50px;
        }
     </style>
</head>
<body>
    <div class="wrapper" >
        <h1 class="mdc-typography--headline2">Rides</h1>
        <div class="rides ride-list">
            <form action="{{ url_for('passenger_ride_details') }}" method="post" class="mdc-card mdc-card--outlined main-form">
    
    {% for item in data %}

   
    <div   class="mdc-card mdc-card--outlined rides ride-card" >
 
            <div>Origin:{{item[1]}}</div> 
            <div>Destination:{{item[2]}}</div>
            <div>Date:{{item[4]}} </div>
            <div>No of Passengers:{{item[0]}}</div>
            <div>Time:{{item[3]}}</div>
            <input id="check" name="check" value="{{item[7]}}" type="checkbox"> 
        </div>
    
        
        {% endfor %}
    </div>
        </div>

    

<input type="submit">join-button
 <!--  <div class="join-button">
        <button class="mdc-fab mdc-fab--extended" aria-label="Favorite">
            <div class="mdc-fab__ripple"></div>
            Join
          </button>
            </div> --> 
        </form> 
       

</body>
</html>
